.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    padding-top: 8vh;
    padding-bottom: 3vh;
    background-color: #eeeeee;
}

.title {
    font-size: 4.5vh;
    color: #0076b5;
    text-decoration: underline;
    margin-bottom: 7vh;
    font-family: 'Heebo', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
}

.left1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
    text-align: center;
    margin-top: 10vh;
    font-family: 'Barlow', sans-serif;
    font-size: 3.5vh;
    height: max-content;
    color: #0076b5;
}

.name {
    width: 55%;
    align-self: center;
    height: 5vh;
    font-size: 2.5vh;
    background-color: #e0e0e0;
    border: none;
    padding-left: 6px;
    box-shadow: rgba(60, 64, 67, 0.143) 0px 1px 2px 0px, rgba(60, 64, 67, 0.075) 0px 1px 3px 1px;
    font-family: 'Barlow', sans-serif;
}
.name:focus {
    outline: none !important;
    border: 1px solid #a5a5a5;
    border-radius: 2px;
}

.email {
    width: 55%;
    align-self: center;
    height: 5vh;
    font-size: 2.5vh;
    background-color: #e0e0e0;
    border: none;
    padding-left: 6px;
    box-shadow: rgba(60, 64, 67, 0.143) 0px 1px 2px 0px, rgba(60, 64, 67, 0.075) 0px 1px 3px 1px;
    font-family: 'Barlow', sans-serif;
}
.email:focus {
    outline: none !important;
    border: 1px solid #a5a5a5;
    border-radius: 2px;
}

.msg {
    width: 55%;
    align-self: center;
    height: 14vh;
    font-size: 2.5vh;
    background-color: #e0e0e0;
    border: none;
    padding-top: 6px;
    padding-left: 6px;
    box-shadow: rgba(60, 64, 67, 0.143) 0px 1px 2px 0px, rgba(60, 64, 67, 0.075) 0px 1px 3px 1px;
    font-family: 'Barlow', sans-serif;
}

.msg:focus {
    outline: none !important;
    border: 1px solid #a5a5a5;
    border-radius: 2px;
}

.btn {
    width: 17%;
    align-self: center;
    font-size: 3vh;
    background-color: #e0e0e0;
    color: #005582;
    border: none;
    height: 6vh;
    margin-top: 10px;
    box-shadow: rgba(60, 64, 67, 0.143) 0px 1px 2px 0px, rgba(60, 64, 67, 0.075) 0px 1px 3px 1px;
}

.btn:hover {
    cursor: pointer;
}

.right {
    width: 35%;
    height: 40vh;
    margin-right: 40px;
    text-align: center;
    font-size: 3vh;
    color: #515151;
    padding-top: 50px;
}

.right span {
    font-weight: bold;
}

@media only screen and (max-width: 1025px) {
    .container {
        flex-direction: column;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 95%;
        height: 30%;
        margin-bottom: 5vh;
        margin-right: 0;
        margin-left: 1.4vh;
    }
}
